.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.list > * {
  flex: 1 1 calc((100% - 48px) / 3);
  max-width: calc((100% - 48px) / 3);
}

@media (max-width: 768px) {
  .list > * {
    flex: 1 1 calc((100% - 24px) / 2);
    max-width: calc((100% - 24px) / 2);
  }
}

@media (max-width: 520px) {
  .list > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
